docs/source/graphics
clones.egg-info/
notebooks/old
data/*
/modules/cmodules/*
*.png
*.pdf
*.pyc
notebooks/.ipynb_checkpoints/*
*.xlsx
*.log
*.csv
*.json
docs/Makefile
docs/build/
docs/source/.doctrees/
notebooks/development/
