notebooks/figures/.ipynb_checkpoints/
*.pdf
*.hdf
*.npy
build/
doctrees/
flyqma.egg-info/
*.pyc
notebooks/.ipynb_checkpoints/*
docs/source/.doctrees/
notebooks/development/
*.docx
*.ai
*.aux
*.lof
*.lot
*.out
*.gz
*.toc

